.parallax {
  position: relative;
  overflow: hidden;
   background-color: rgba(1, 72, 104, 0.885);
}

.scroller {
  color: #EBF4F6;
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(94, 94, 94, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}
