body {
    overflow-x: hidden;
}

.home {
    background-image: url(../assets/homeBack.webp);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.logo img {
    width: 213px;
    height: auto;
}

.mainText {
    color: #ffffffa2;
    font-weight: bold;
    font-size: 98px;
    width: 652px;
    text-align: center;
    line-height: 110%;
    -webkit-text-stroke: 1px #29282898;
}

.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .main-description {
    width: 575px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    
}

.homeCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 40px 0pc 45px;
}

.card .description {
    width: 300px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 110%;
    text-align: left;
}

.card .topic {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}

.custom-scroll-text {
    font-size: 35px;
}

.home-bottom {
    height: 300px;
    width: 100vw;
    background-image: url(../assets/sigiriya.jpg);
    background-size: cover;
    background-position: center;
}

.home-bottom-text {
    color: #EBF4F6;
    font-weight: bold;
    font-size: 20px;
    padding: 5% 20%;
    text-align: justify;
}

@media (max-width: 768px) {
    .logo img {
        width: 100px;
        height: auto;
    }

    .mainText {
        color: #ffffffd1;
        font-size: 3rem;
        width: 100vw;
        margin-top: 30px;
        -webkit-text-stroke: 1px #e9dddd98;
    }

   .main-description {
        width: 100vw;
        padding: 30px;
        text-align: justify;
        -webkit-text-stroke: 1px rgba(239, 225, 225, 0.282);
    }

    .description {
        width: 100vw;
        text-align: center;
        font-size: 1rem;
    }

    .homeCards {
        display: flex;
        flex-direction: column;
        margin: 10px 40px 0pc 45px;
    }

    .card .description {
        width: 300px;
        font-size: 1rem;
        text-align: justify;
        color: rgb(62, 61, 61);
    }

    .card .topic {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .custom-scroll-text {
        background-color: #088395;
        font-size: 1.3rem;
    }
    .home-bottom-text {
        font-weight: 300;
        font-size: 1rem;
        padding: 5% 10%;
    }
}