.footer {
    height: 150px;
    width: 100vw;
    background-color: #222222;
    display: flex;
    justify-content: space-around;
}

.logo-area img {
    height: 150px;
}

.footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    color: #EBF4F6;
}

.footer-details :nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}

.copyright {
    background-color: #222222;
    text-align: center;
    color: #EBF4F6;
    font-weight: 300;
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .footer {
        height: 120px;
        width: 100vw;
    }

    .logo-area img {
        height: 100px;
    }

    .footer-details {
        font-size: 0.9rem;
    }

    .footer-details :nth-child(1) {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .copyright {
        font-weight: 300;
        font-size: 0.7rem;
    }
}